{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>All news</h1>
 <p>{% current_time '%b %d %Y' %}</p>
 <p class="lead" >
     Новостей на странице: {{ object_list|length }}
     <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

 </p>
{% if news %}
<table>
    <tr>
        <td>Title</td>
        <td>Date creations</td>
        <td>Category</td>
        <td>Text</td>
        <td>Rating</td>
    </tr>
    {% for new in news %}
    <tr>
        <td>{{ new.postTitle }}</td>
        <td>{{ new.dateCreation }}</td>
        <td>{{ new.categoryType }}</td>
        <td>{{ new.postText|truncatechars:15 }}</td>
        <td>{{ new.rating }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3> News is gone</h3>
{% endif %}
  {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}